
{{ define "header" }}
<header class="hero" id="top">
  <div class="imagecontainer">
  </div>
  <div class="content-wrapper">
    <a href="#start" class="svg">
      {{ partial "svg/logo-dark-background.svg" . }}
    </a>




    <h1>{{ .Params.description }}</h1>

  </div>
</header>
{{ end }}

{{ define "main" }}

<section id="start">
  <div class="content-wrapper">
    
    <div class="editable" style="border-color: aqua;border-width: 1px; border-style: solid;">
      <div class="cartouche"></div>
      <figure>
        <img src="" />
      </figure>
    </div>
    <div class="editable" style="border-color:brown;border-width: 1px; border-style: solid;"><h2>{{ .Site.Params.description }}</h2></div>
  </div>
</section>
{{ end }}

{{ define "footer"}}

{{ partial "body/footer.html" . }}

{{ end }}