
{{ define "header" }}
<header class="hero" id="top">
  <div class="imagecontainer">
  </div>
  <div class="content-wrapper">
    <a href="#start" class="svg">
      {{ partial "svg/logo-dark-background.svg" . }}
    </a>
    <h1>{{ .Params.description }}</h1>
  </div>
</header>
{{ end }}

{{ define "main" }}

<article id="start" class="narative">
  <div class="content-wrapper">

    <div class="text-content">
      <h2>demystify the blackbox</h2>
      <p>Your organisation is as secure as the individuals forming it. We believe knowledge is a fundamental building block to secure flows of information. We offer you the tools to keep your assets safe from the threat-models of the 21st Century, and the knowledge to educate the people relying on these assets.</p>
      <p><a href="#contact" class="button">Ask us for help</a></p>
    </div>
    <div class="cartouche">
      <figure>
        <img src="/images/samuel-zeller-364234-unsplash.webp" />
      </figure>
    </div>
  </div>
</article>

<article id="start" class="narative">
  <div class="content-wrapper">

    <div class="text-content">
      <h2>WHO KNOWS WHAT and why?</h2>
      <p>The choice of granting access or denying it is easy, understanding how a piece of data can reveal your secrets is hard. We equip you with the insights You and your Peers need to keep your operation safe from prying eyes. </p>
      <p><a href="#contact" class="button">Let Us do it</a></p>
    </div>
    
    <div class="cartouche">
      <figure>
        <img src="/images/cmdr-shane-610506-unsplash.webp" />
      </figure>
    </div>

  </div>
</article>

<article id="start" class="narative">
  <div class="content-wrapper">

    <div class="text-content">
      <h2>keeping order in the tools is better than ordering tools</h2>
      <p>As time goes tools are created, consumed, renewed, altered or obsoleted. So is the information they pipe. Maintaining information up-to-date is a continuous effort that requires a well defined procedure. We provide the frame-work in which your company can keep it’s information-assets secure and scalable, regardless of your techonological preferences. </p>
      <p><a href="#contact" class="button">REACH OUT</a></p>
    </div>
    
    <div class="cartouche">
      <figure>
        <img src="/images/kotagauni-srinivas-481125-unsplash.webp" />
      </figure>
    </div>

  </div>
</article>
<section class="about">

</section>
{{ end }}

{{ define "footer"}}
<div id="contact" class="modalContact">
  
  <div class="content-wrapper">
    {{ partial "scripts/contact-form-HS.html" . }}
    
  </div>
</div>
{{ partial "body/footer.html" . }}

{{ end }}