
#main-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -webkit-transition: filter var(--anim-speed) ease-in;
  -moz-transition: filter var(--anim-speed) ease-in;
  -ms-transition: filter var(--anim-speed) ease-in-out;
  transition: filter var(--anim-speed) ease-in;
  z-index: 1;
}
@media only screen and (max-width: 400px) {
  #main-wrapper {
    overflow-x: hidden;
  }
}
.content-wrapper {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  padding: 40px;
}
.hero {
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  // align-content: flex-end;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  position: relative;
  min-height: 100vh;
  width: 100%;
  .content-wrapper {
    width: 100%;
  }
  svg, a {
    width: 100%;
  }
  .svg{
    margin-top: 80px;
  }
  h1 {
    // font-family: _font(title);
    text-transform: uppercase;
    text-align: center;
    flex: 1 0 100%;
    font-size: 3em;
    margin-top:80px;
  }

  .imagecontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/circle2-icon-decoration.svg);
    background-size: 100vw;
    background-position: 30vw 50%;
    background-repeat: no-repeat;
    opacity: .25;
    z-index: -1;

  }
  @media only screen and (max-width: 999px) {
    .imagecontainer {
      background-size: 120vh;
      background-position: 30vw 50%;
    }
  }
}
article {
  flex: 1 1 100%;
  z-index: 2;

}
article:first-of-type {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 0;
  padding-top: 80px;
}
.narative {
  .content-wrapper {
    justify-content: space-between;

  }
  .text-content {
    flex: 1 1 220px;
    padding-right: 40px;
  }
  .cartouche {
    flex: 0 0 auto;
    position: relative;
    display: flex;
    width: 40vw;
    max-width: 420px;
    height: calc(40vw * 2 );
    max-height: 840px;
    background-image: url(/assets/img/circle2-icon-frame-transparent.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    justify-content: center;
    align-content: flex-start;
    figure {
      width: 40vw;
      max-width: 420px;
      height: 40vw;
      max-height: 420px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: calc(100% - 40px);
        max-width: 420px;
        height: calc(100% - 40px);
        max-height: 420px;
        position: relative;
        display: block;
        border-radius: calc(40vw + 400px );
        object-fit: cover;
        opacity: .5;
        filter: grayscale(1);
      }
    }
  }
  @media only screen and (max-width: 679px) {
    .content-wrapper {
      justify-content: center;
      flex-direction: row-reverse;
    }
    .text-content {
      padding-left: 0px;
    }
    .cartouche {
      flex: 0 0 auto;
      position: relative;
      display: flex;
      width: calc(100vw - 80px);
      max-width: calc(100vw - 80px);
      height: calc((100vw - 80px) * 2);
      max-height: 840px;
      background-image: url(/assets/img/circle2-icon-frame-transparent.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: top;
      justify-content: center;
      align-content: flex-start;
      figure {
        width: calc(100vw - 80px);
        max-width: calc(100vw - 80px);
        height: calc(100vw - 80px);
        max-height: calc(100vw - 80px);
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: calc(100vw - 120px);
          max-width: calc(100vw - 120px);
          height: calc(100vw - 120px);
          max-height: calc(100vw - 120px);
          position: relative;
          display: block;
          border-radius: calc(100vw - 120px);
          object-fit: cover;
          opacity: .5;
          filter: grayscale(1);
        }
      }
    }
  }
}
.narative:nth-child(odd) {
  .content-wrapper {
    flex-direction: row-reverse;
    .text-content {
      padding-left: 40px;
    }
  }
  @media only screen and (max-width: 679px) {
    .content-wrapper {
      flex-direction: row-reverse;
      .text-content {
        padding: 0px;
      }
    }  
  }
}
footer {
  width: 100%;
  padding: 160px 40px 0px 40px;
  min-height: 100vh;
  color: var(--fg);
  background-color: var(--bg);

  box-sizing: border-box;
  z-index: 2;
  a {
    color: var(--fg);
  }
  .icon {
    color: var(--fg);
    border: 1px solid var(--fg-alt);
  }
  .icon:hover {
    border: 1px solid var(--accent2);
    color: var(--accent2);

  }
  .footframe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    max-width: var(--max-width);
    min-height: 100vh;
    margin: auto;
    padding: 0px;

    div {
      flex: 0 1 300px;
      margin-bottom: 80px;
     img {
        margin: auto;
        display: block;
        width: 100%;
      }
      ul {
        margin-bottom: 40px;
      }
      li {
       
        line-height: 2;
        font-size: 1.5em;
        border-bottom: 1px solid var(--fg);
        a {
          font-weight: 700;
          text-decoration: none;
          color: var(--fg);
        }
        a:hover {
          color: var(--accent1);
        }

      }
    }

    small {
      flex: 0 0 100%;
      box-sizing: border-box;
      margin: 0;
      text-align: center;
      font-size: 0.8em;
      .label {
        display: none;
      }
    }
  }
  @media only screen and (max-width: 679px) {
    .footframe {
      justify-content: center;
      div {
        flex-grow: 1;
      }
    }
  }
}

.post-navigation {
  margin: 0;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    align-items: flex-start;
    max-width: var(--max-width);
    margin: 0 auto;
    h2 {
      flex: 0 0 100%;
      margin-top: 40px;
      text-align: center;
    }
    .post-nav,
    .post-nav-next {
      flex: 1 0 200px;

      h4 {
        font-size: 2em;
        justify-self: right;
      }
    }
    .post-nav {
      margin: 0 40px 0 0;
      text-align: left;
    }
    .post-nav-next {
      margin: 0 0 0 40px;
      text-align: right;
    }
  }
}
// team member index
