{{ define "header" }}
<header class="hero-single" id="top">
  <div class="imagecontainer">
  </div>
  <div class="content-wrapper">
    {{ partial "svg/circle2-logo-vertical.svg" . }}
    <div>
      <h1>{{ .Title }}</h1>
      <p>{{ .Params.description_markdown | markdownify }}</p>
   </div>
   <a class="arrow" href="#start" style="text-align:center;"><img src="/assets/img/arrow.svg"></a>
  </div>
</header>
{{ end }}
{{ define "main" }}
<section id="start" class="about">
  <div class="content-wrapper">
    <div>

      <p>{{ .Content }}</p>
    </div>
  </div>
</section>
<section class="about">
  {{ range .Page.Params.sections }}
  <div class="content-wrapper">
    <div class="text-content">
      <h2>{{ .title }}</h2>
      <p>{{ .content_markdown }}</p>
      <p><a href="{{ .button.URL }}" class="button">{{ .button.label }}</a></p>
    </div>
    <div class="image">
      <figure>
        <img src="{{ .image }}" alt="{{ .name }}" />
      </figure>
    </div>
  </div>
  {{ end }}
</section>
<section id="team" class="about">
  <div class="content-wrapper">
    <div>
      <h2>Team</h2>
      <p>Our team has been the industry's standard ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
</section>
<section class="about" id="team">
  <div class="content-wrapper">

      


    <div class="team">
  
      {{ range where .Site.Data.team "guest" false }}
      <div class="mate">

        <figure>
          <img src="{{ .image }}" alt="{{ .name }}" />
        </figure>
        <h3>{{ .name }}</h3>
        <p><strong>{{ .title }}</strong></p>
        <p>{{ .bio }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ define "footer"}}
{{ partial "body/contact.html" . }}
{{ partial "body/footer.html" . }}
{{ end }}