
{{ define "header" }}
<header class="hero" id="top">
  <div class="imagecontainer">
  </div>
  <div class="content-wrapper">
    <a href="#start" class="svg">
      {{ partial "svg/logo-dark-background.svg" . }}
    </a>
    <h1>{{ .Params.description }}</h1>
    <a href="#start" style="text-align:center;"><img src="/assets/img/arrow.svg"></a>
  </div>
</header>
{{ end }}

{{ define "main" }}
{{ .Content }}
{{ range .Params.sections }}
<article id="start" class="narative">
  <div class="content-wrapper">

    <div class="text-content">
      <h2>{{ .title }}</h2>
      <p>{{ .description_markdown | markdownify }}</p>
      <p><a href="{{ .button.URL }}" class="button">{{ .button.label }}</a></p>
    </div>
    <div class="cartouche">
      <figure>
        <img src="{{ .image }}" />
      </figure>
    </div>
  </div>
</article>
{{ end }}

<section class="about" id="about">
  <div class="content-wrapper">
    <div class="text-content">
      <h2>About Squared Circle Security</h2>
      <p>Information Security is simpler than it seems. At Circle2 our mission is to unravel the fears, uncertiditudes and doubts that arrise arround governance of your information assets. We want everyone in your ogranization to be able to handle and care for your assets in the safest possible way, regardless of the nature of technical infrastructures.</p>
      <p><a href="/about/" class="button">Read More</a></p>
    </div>
    <div class="team">
      {{ $headless := .Site.GetPage "/team_members" }}
      {{ $reusablePages := $headless.Resources.ByType "page" }}
      {{ range where $reusablePages ".Params.guest" false }}

      <div class="mate">
        <figure>
          <img src="{{ .Params.image }}" alt="{{ .Params.name }}" />
        </figure>
        <h3>{{ .Params.name }}</h3>
        <p><strong>{{ .Params.title }}</strong></p>
        <p>{{ .Params.bio }}</p>
      </div>

      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ define "footer"}}
{{ partial "body/contact.html" . }}
{{ partial "body/footer.html" . }}

{{ end }}