{{ define "header" }}
<header class="hero-single" id="top">
  <div class="imagecontainer">
  </div>
  <div class="content-wrapper">
    {{ partial "svg/circle2-logo-vertical.svg" . }}
    <div>
      <h1>{{ .Title }}</h1>
      <p>{{ .Params.description }}</p>
   </div>
   <a class="arrow" href="#start" style="text-align:center;"><img src="/assets/img/arrow.svg"></a>
  </div>
</header>
{{ end }}

{{ define "main" }}

<section class="info" id="start">
  <div class="info-pages">
    <div class="container">
      {{ .Page.Content | markdownify }}
    </div>
  </div>
</section>


{{ range .Paginator.Pages }}
<section id="start" class="front-section">

  <div style="background-image:url({{ .Params.Image }});filter: sepia(1) hue-rotate(170deg) saturate(5);">
  </div>

  <div class="description">
    <div class="container">

      <h2>{{ .Title }}</h2>
      <p>{{ .Params.description_markdown }}</p>
      <p><a href="{{ .Permalink }}" class="button">Read More</a></p>
  
    </div>
  </div>

</section>
{{ end }}






{{ end }}

{{ define "footer"}}
{{ partial "body/contact.html" . }}
{{ partial "body/footer.html" . }}

{{ end }}
