{{ define "header" }}
{{ partial "body/header.html" . }}
{{ end }}
{{ define "main" }}






<section class="info" id="start">
  
  <div class="info-pages">
    <div class="container">
      {{ .Content }}
    </div>
    {{ if .Params.link.URL }}
    <p class="center">
      <a href="{{ .Params.link.URL }}" target="_bank" rel="noopener" class="button">{{ if .Params.link.label }}{{ .Params.link.label }}{{ else }}👀 check it out{{ end }}</a>
    </p>
    {{ end }}

  </div>
</section>

{{ end }}

{{ define "footer"}}

{{ partial "body/footer.html" . }}

{{ end }}